body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.component-preview {
  max-width: 500px;
}

.title-font {
  font-family: 'Anton', sans-serif;
}

.comic-font {
  font-family: 'RoofRunners', sans-serif;
}

.hidden-image {
  display: none;
}

@font-face {
  font-family: "RoofRunners";
  src: url("fonts/roof.runners.ttf");
}
